.row {
  position: relative;
  min-height: 150px;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 40px;
}

.row__title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.row__list {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;

  display: flex;
}

.row__item {
  margin: 0 5px;
}

.row__list::-webkit-scrollbar {
  display: none;
}

.row__poster {
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.row__posterLarge {
  height: 200px;
  width: 130px;
  object-fit: contain;
  margin: 0 auto;
}