.banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 120px;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 120px);
}

.banner__title {
  font-size: 3rem;
}

.banner__description {
  max-width: 500px;
  font-size: 18px;
  line-height: 24px;
  margin: 8px 0;
  text-shadow: #111 1px 0 10px;
}

.banner__buttons {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}

.banner__btn {
  background-color: rgba(51, 51, 51, .5);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 8px 48px;
  border-radius: 8px;
  transition: all .3s;
}

.banner__btn:hover {
  background-color: #e6e6e6;
  color: #111;
}